################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IoT_Test/IoT_Test/mqtt_test.pyc
